---
// import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import DefaultReact from '../components/defaultReact.tsx';
import Threejs from '../components/threejs.tsx';
import TopNav from '../components/topNav.astro';
---

<Layout>
  <div class="p-10">
    <h1 class="text-1xl font-bold">Audio/Visual/Reactive</h1>
    <TopNav />
  </div>
</Layout>
